.color-scheme-toggle {
  display: flex;
  flex-direction: row;
}

.widget-link.dark-light-toggle{
  display: flex !important;
  flex-direction: row;
  align-items: center;
  p {
    margin: 0;
  }
}

.scheme-icon {
  display: none;
}

.show-scheme-icon {
  display: block;
  margin-right: 0.25em;
}